---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #888;
			}
			ul li a:visited {
				color: #8e32dc;
			}
            h1{
               font-size: 12rem; 
               text-align: center;
        
            }
            h2{
                font-size: 8rem;
            }
		</style>
	</head>
	<body>
		<Header />
		<main class="my-10">
            <h1 class="text-8xl font-bold">404</h1>
            <h2 class="text-center text-2xl">🐱ページがありません🐱</h2>
        </main>
		<Footer />
	</body>
</html>