---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Title from "../components/Title";
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="">
			<div>
				<Title>KoneruPhoto.</Title>
				<p>
					Scroll or Drag
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>