---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro'
import Bg from '../components/Bg.jsx'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<Bg />
		<main class="" id="root">

			<div>
				<p>
					Scroll or Drag
				</p>
			</div>
		</main>
		<Footer />
	</Body>
</html>
